<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="AMS" />
    <meta property="og:description" content="DKW Hoops adalah sebuah toko yang mengkhususkan diri dalam jual beli sepatu basket
                            purwokerto." />
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.png') }}" />

    <title>AMS</title>
    <!-- Customized Bootstrap Stylesheet -->

    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
        rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tiny-slider.css') }}" />

    <style>
        .search input {
            width: 80%;
            border-radius: 20px 0 0 20px;
        }

        .search button {
            border-radius: 0 20px 20px 0;
        }
    </style>
</head>

<body>
    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark fixed-top" aria-label="Furni navigation bar">
        <div class="container">
            <a class="navbar-brand" href="/">AMS<span>.</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li><a class="nav-link" href="/shop">Shop</a></li>
                    <li><a class="nav-link" href="/about">About us</a></li>
                    <li><a class="nav-link" href="/contact">Contact us</a></li>
                    {% if is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/manageproduct">Kelola Produk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manageorder">Kelola Orders</a>
                    </li>
                    {% endif %}
                    {% if logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">
                            <i class="bi bi-cart-fill" style="font-size: 1.2rem;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/" onclick="logout()">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container pt-5">
            <!-- Start Carousel -->
            <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner rounded ">
                    <!-- Slide 1 -->
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename='images/1.png') }}" class="d-block w-100" alt="Slide 1">
                    </div>
                    <!-- Slide 2 -->
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/2.png') }}" class="d-block w-100" alt="Slide 2">
                    </div>
                    <!-- Slide 3 -->
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/3.png') }}" class="d-block w-100" alt="Slide 3">
                    </div>
                    <!-- Slide 4 -->
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/4.png') }}" class="d-block w-100" alt="Slide 4">
                    </div>
                    <!-- Slide 5 -->
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/5.png') }}" class="d-block w-100" alt="Slide 5">
                    </div>
                    <!-- Slide 6-->
                    <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/6.png') }}" class="d-block w-100" alt="Slide 6">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- End Carousel -->

            <div class="search d-flex align-items-center flex-grow-1 mb-3 mt-5 pb-3">
                <form class="d-flex justify-content-center flex-grow-1" action="/search" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Cari barang yang ingin anda beli..."
                        aria-label="Search" name="q">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <div class="row">
                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">
                        <span>Best</span> Products
                    </h2>
                    <p class="mb-4">
                        Temukan produk terbaik kami yang paling laris dan paling banyak dicari oleh pelanggan kami.
                    </p>
                    <p><a href="/shop" class="btn">Explore</a></p>
                </div>
                <!-- End Column 1 -->

                <!-- Start Product Columns -->
                <div class="col-md-12 col-lg-9">
                    <div class="row">
                        {% for product in product_list if product.is_best_product %}
                        <div class="col-12 col-md-4 col-lg-3 mb-4">
                            <a class="product-item" href="/detail/{{ product._id }}">
                                <img src="/static/product_pics/{{ product.image }}" class="img-fluid product-thumbnail"
                                    alt="{{ product.product_name }}">
                                <h3 class="product-title">{{ product.product_name }}</h3>
                                <strong class="product-price">Rp{{ product.product_price|format_price }}</strong>
                                <span class="icon-cross">
                                    <img src="{{ url_for('static', filename='images/cross.svg') }}" class="img-fluid">
                                </span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End Product Columns -->
            </div>
        </div>
    </div>
    <!-- End Product Section -->
    <div class="container-fluid pt-5 pb-5">
        <div class="container text-center">
            <h2 class="fw-bold text-dark" id="layanan">Layanan <span>AMS</span></h2>
            <p>Kami adalah sebuah perusahaan yang bergerak dalam pelayanan jasa konsultan, pengadaan dan
                pemasangan.</p>
            <div class="container-fluid pt-5 pb-5">
                <div class="container text-center">
                    <div class="row pt-5">
                        <div class="col-md-4">
                            <div class="lingkaran">
                                <i class="bi bi-hospital" style="color: #ffffff;"></i>
                            </div>
                            <h3 class="mt-3">Nurse Call</h3>
                            <p>Nurse Call system adalah sebagai salah satu kelengkapan fasilitas Rumah Sakit
                                untuk meningkatkan pelayanan terhadap pasien.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="lingkaran">
                                <i class="bi bi-prescription2" style="color: #ffffff;"></i>
                            </div>
                            <h3 class="mt-3">Instalasi Gas Medis</h3>
                            <p>Perencanaan, Pengadaan dan Pemasangan Instalasi Gas Medis Sentral, melalui
                                pemipaan jalur gas medis membuat sistem pemakaian gas medis menjadi lebih efisien, aman
                                dan
                                nyaman bagi kebutuhan pasien.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="lingkaran">
                                <i class="bi bi-clipboard2-pulse-fill" style="color: #ffffff;"></i>
                            </div>
                            <h3 class="mt-3">SIM-RS</h3>
                            <p>Sistem Informasi Manajemen Rumah Sakit (SIM-RS). Kami membantu Rumah Sakit
                                untuk mengelola data pasien, dokter, obat, dan lain-lain.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">
            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">AMS<span>.</span></a></div>
                    <p class="mb-4">
                        Moto kami MELEBIHI HARAPAN konsumen, kami menjamin kualitas sesuai standar yang diharapkan,
                        sehingga klien kami mendapat pelayanan dan jaminan kualitas, kepercayaan ini menjadi bagian dari
                        semangat kami untuk terus melayani, dengan pelayanan paska project yang menjadikan kami terus
                        eksis dan terus berinovasi.
                    </p>
                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="bi bi-facebook"></span></a></li>
                        <li><a href="#"><span class="bi bi-twitter"></span></a></li>
                        <li><a href="#"><span class="bi bi-instagram"></span></a></li>
                        <li><a href="#"><span class="bi bi-linkedin"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="map_container">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3964.1684135378687!2d106.8019525!3d-6.5003525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c30b547f0a33%3A0xc21e8e25e072d5f3!2sPT.Anugerah%20Mitrautama%20Sejahtera!5e0!3m2!1sid!2sid!4v1722352155896!5m2!1sid!2sid"
                                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
                        <p>AMS</p>
                        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- End Footer Section -->

    <!-- Scripts -->
    <script>
        function logout() {
            $.removeCookie('mytoken');
            alert('You have been logged out!')
            window.location.href = '/'
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

</body>

</html>