<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>AMS - Login</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <meta property="og:title" content="DeJourney ID" />
  <meta property="og:description" content="Bagikan pengalaman wisatamu" />
  <meta property="og:image" content="{{ url_for('static', filename='og_image.png') }}" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link href="static/vendor/aos/aos.css" rel="stylesheet" />
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="static/css2/main.css" rel="stylesheet" />

  <link href="static/css2/style.css" rel="stylesheet" />

  <link rel="icon" href="{{ url_for('static', filename = 'images/logo.png') }}" type="image/x-icon" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.10.1/sha256.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.10.1/sha256.js"></script>

  <script>
    $(document).ready(function () {
      $("#navlogin").addClass("active");
    });
  </script>
</head>

<body>
  <main id="main">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="icon-AMSID" height="40px" />
          <h1 style="color: #83b3e9">AMS</h1>
          <span style="color: aliceblue">.</span>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar"></nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="info d-flex align-items-center">
          <div class="container">
            <div class="row justify-content-center">
              <br />
              <section class="vh-100">
                <div class="container py-4 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                      <div class="card shadow-2-strong" style="border-radius: 1rem">
                        <div class="card-body p-5 text-center">
                          <h3 class="mb-5" id="title-login">Sign in</h3>
                          <div id="regform" class="visually-hidden">
                            <h3 class="mb-5" id="title-register">Register</h3>
                            <div class="input-group mb-3" id="fg-username">
                              <input type="text" class="form-control" placeholder="Masukkan Username"
                                aria-label="username" aria-describedby="button-addon2" id="form-username" />
                              <button class="btn btn-djID" type="button" onclick="check_dup()">
                                Cek Username
                              </button>
                            </div>
                            <h6 class="text-start mb-2" id="help-username"></h6>
                          </div>
                          <div class="input-group mb-3" id="fg-email">
                            <input type="email" class="form-control" placeholder="Masukkan Email" aria-label="email"
                              aria-describedby="button-addon2" id="form-email" value="{% if request.args.get('email') %}
                                {{request.args.get('email')}}
                            {% endif %}" />
                          </div>
                          <h6 class="text-start mb-2" id="help-email"></h6>
                          <div class="input-group mb-1">
                            <input type="password" class="form-control" placeholder="Masukkan Password"
                              aria-label="password" aria-describedby="button-addon2" id="form-password" />
                            <span class="input-group-text" id="basic-addon3">
                              <i class="bi bi-eye-slash" id="togglePassword">
                              </i>
                            </span>
                          </div>
                          <h6 class="text-start text-dark mb-2" id="help-password">
                            Masukkan password dengan 8-10 karakter, angka,
                            atau spesial karakter (!@#$%^&*)
                          </h6>
                          <div id="add-regform" class="visually-hidden">
                            <div class="input-group mb-3" id="fg-password2">
                              <input type="password" class="form-control" placeholder="Masukkan Konfirmasi Password"
                                aria-label="password-confirm" aria-describedby="button-addon2" id="form-password2" />
                              <span class="input-group-text" id="basic-addon3">
                                <i class="bi bi-eye-slash" id="togglePassword2">
                                </i>
                              </span>
                            </div>
                            <h6 class="text-start text-danger mb-2" id="help-password2"></h6>
                            <button class="btn btn-lg btn-block mb-2 btn-djID" onclick="register()">
                              Register
                            </button>
                            <button class="btn btn-lg btn-block btn-djID2 mb-2" onclick="resetform_register()">
                              Reset
                            </button>
                            <hr class="my-2" />
                            <p style="
                                  color: black;
                                  font-size: medium;
                                  font-style: normal;
                                ">
                              Already have an account?
                              <a onclick="openlogin()" class="" style="cursor: pointer">Login here</a>
                            </p>
                          </div>
                          <div id="add-logform">
                            <button class="btn btn-lg btn-block mb-2 btn-djID" onclick="login()">
                              Login
                            </button>
                            <button class="btn btn-lg btn-block mb-2 btn-djID2" onclick="resetform_login()">
                              Reset
                            </button>
                            <hr class="my-2" />
                            <p style="
                                  color: black;
                                  font-size: medium;
                                  font-style: normal;
                                ">
                              Don't have an account?
                              <a onclick="openregister()" style="cursor: pointer" class="">Register here</a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active" style="background-image: url(static/images/bg4.jpg)"></div>

    </section>
    <!-- End Hero Section -->
  </main>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js2/main.js"></script>
  <script src="static/js2/form-control.js"></script>
  <script src="static/js2/navbar-control.js"></script>
</body>

</html>